<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-4">
  <div class="container-fluid">
    <a class="navbar-brand" href="/frontend/index.html">Cartola FC RPG</a>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="/frontend/pages/times/times.html">Times</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/frontend/pages/jogadores/jogadores.html"
            >Jogadores</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/frontend/pages/partidas/partidas.html"
            >Partidas</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/frontend/pages/torneios/torneios.html"
            >Torneios</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
